SPECKLE_TOKEN="mytoken"
SPECKLE_SERVER_URL="http://127.0.0.1:3000"
SPECKLE_AUTOMATION_ID=""

# Model IDs for metrics calculation
SPECKLE_SOURCE_MODEL_ID=""
SPECKLE_TARGET_MODEL_ID=""
SPECKLE_PROJECT_ID=""

# Test project ID for integration tests
SPECKLE_TEST_PROJECT_ID=""